<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bruno.cookcalc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".View.MainActivity"

            >
            <intent-filter> <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".View.AddIngredient" >
        </activity>

        <activity android:name=".View.AddIngredientRecipes" >
        </activity>

        <activity android:name=".View.ListIngredients" >
        </activity>

        <activity android:name=".View.AddRecipe" >
        </activity>

        <activity android:name=".View.ListRecipes" >
        </activity>

        <activity android:name=".View.ListIngredientRecipes" >
        </activity>

        <activity android:name=".View.ListIngredientPrices" >
        </activity>

        <activity android:name=".View.ListRecipePrices" >
        </activity>

        <activity android:name=".View.ConfigView" >
        </activity>

    </application>
</manifest>
